#userstories {
  margin-left: 5%;
  margin-top: 5%;
}

.hr1 {
  margin: 50px;
}

.hr2 {
  text-align: left;
}

.hr3 {
  margin: 50px;
  margin-top: 200px;
}

.inp1 {
  width: 100px;
}

.jsr {
  margin: 10px 0;
}

#testui {
  margin-left: 5%;
}